
.labelbox_admins{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

    margin-bottom: 9px;
    margin-top: 15px;
    margin-left: 30px;
}
.globalbox_admins img{ vertical-align: middle; }

.information_admins{
	font-style: normal;
	font-weight: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	margin-left: 30px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.globalbox_admins{
	width: 827px;
	height: 274px;
	background: #1D1D1D;
	border-radius: 10px;
}

.buttonbox_admins
{
	display: flex;
	align-items: center;
	justify-content: center
}

.buttonbox_admins .buy_admins
{
	background: #B289D8;
    height: 64px;
    width: 50%;
	border-radius: 0px 0px 0px 5px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}
.buttonbox_admins .exit_admins
{
	background: #B289D8;
	width: 50%;
    height: 64px;
	border-radius: 0px 0px 5px 0px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

.buttonbox_admins p{
	text-align: center;
	line-height: 60px;
}

.buttonbox_admins .exit_admins:hover, .buttonbox_admins .buy_admins:hover{
	background: #916fb0;

}

.inputpassword{
	border: none;
	margin-left: 30px;
	width: 762px;
	height: 61px;
	background: #181818;
	border-radius: 5px;
	font-size: 30px;
	line-height: 55px;
	z-index: 0;

}

.adminclose{
	padding-left: 490px;
}

.sendadminpass{
	width: 212px;
	height: 63px;

	position: relative;

	top: -68px;
	left: 582px;

	z-index: 1;

	background: #B289D8;
	border-radius: 0px 5px 5px 0px;
}

.sendadminpass p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
}

.sendadminpass:hover{
	background: #916fb0;

}