/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                            Покупка дома                                   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.blackscreen_buyhouse
{
	background-image:url(../image/bg.png);
	/*background-color: #181818;*/
	min-height: 100%;
	min-width: 100%;

	/*Дочерние элементы по центру*/
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	overflow: auto;
}

.labelbox_buyhouse{
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

	text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}
.globalbox_buyhouse img{ vertical-align: middle; }

.information_buyhouse{
	display: flex;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	margin-bottom: 40px;
}

.HouseInfo_buyhouse{
	margin-left: 50px;
	margin-right: 120px;
	display: inline;
	vertical-align: middle;
}

.globalbox_buyhouse{
	width: 827px;
	height: 414px;
	background: #1D1D1D;
	border-radius: 10px;
}

.buttonbox_buyhouse
{
	display: flex;
	align-items: center;
	justify-content: center
}

.buttonbox_buyhouse .buy_buyhouse
{
	background: #B289D8;
    height: 64px;
    width: 50%;
	border-radius: 0px 0px 0px 5px;
	cursor: pointer;
	border: none;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}
.buttonbox_buyhouse .exit_buyhouse
{
	background: #B289D8;
	width: 50%;
    height: 64px;
	border-radius: 0px 0px 5px 0px;
	border: none;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

.hidenttrue
{
	display: none;
}

.buttonbox_buyhouse p{
	text-align: center;
	line-height: 60px;
}

.buttonbox_buyhouse .exit_buyhouse:hover, .buttonbox_buyhouse .buy_buyhouse:hover{
	background: #916fb0;

}