.globalbox_WorkFillingHouse img{ vertical-align: middle; }

.globalbox_WorkFillingHouse{
	width: 1000px;
	height: 677px;
	background: #1D1D1D;
	border-radius: 10px;
}

.header_WorkFillingHouse img{
	height: 18px;
}


.boxmenu_WorkFillingHouse{
	width: 291px;
	height: 52px;

	margin-right: 70px;

	background: #181818;
	border-radius: 10px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;

	text-align: center;

}

.header_WorkFillingHouse{
	display: flex;
	margin-left: 35px;
    margin-top: 25px;
}

.text_WorkFillingHouse
{
	padding-right: 200px;
}

.text_WorkFillingHouse h1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}
.text_WorkFillingHouse h3{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 22px;
}


.boxmenu_WorkFillingHouse a{
	text-decoration: none;
	color: white;
}

.boxmenu_WorkFillingHouse a:hover{
	border-bottom: 5px solid #B289D8;
	padding-bottom: 10px;
}

#Zakaz{
	margin-right: 45px;
}

.content_WorkFillingHouse{
	margin-top: 30px;
    margin-left: 35px;
}

.item_WorkFillingHouse{
	width: 913px;
	height: 64px;
	background: #181818;
	border-radius: 5px;
	margin-bottom: 20px;
	z-index: 0;
}

.item_WorkFillingHouse p{

	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	line-height: 60px;

	padding-left: 20px;

}

.itembuttons_WorkFillingHouse{

	position: relative;

	left: 720px;
	top: -60px;

	width: 210px;
	height: 64px;

	background: #B289D8;
	border-radius: 0px 5px 5px 0px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;

	text-align: center;
	line-height: 60px;

	z-index: 1;
}

.itembuttons_WorkFillingHouse:hover{
	background: #916fb0;

}